USE [master]
GO
/****** Object:  Database [CRUD_ZesTec]    Script Date: 22-05-2025 14:48:18 ******/
CREATE DATABASE [CRUD_ZesTec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_ZesTec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUD_ZesTec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_ZesTec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUD_ZesTec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_ZesTec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_ZesTec]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 22-05-2025 14:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](200) NOT NULL,
	[mobile_no] [varchar](15) NOT NULL,
	[gender] [varchar](15) NOT NULL,
	[email_id] [varchar](100) NOT NULL,
	[address] [varchar](100) NOT NULL,
	[pincode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
